body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(28 27 33);
    min-height: 50px;
    justify-content: space-around;
    border-bottom: solid;
    border-top: solid;
    border-color: rgba(100, 100, 100, 0.521);
}   

.logo {
    width: 120px;
    height: 120px;
    margin: left 10px;
}

.headera {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

.a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 10px;
    text-align: center;
}
.ttindex{ background-color: rgba(100, 100, 100, 0.521);
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color:  rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
}

h3{
  color: rgb(255, 254, 254);
  text-align:center;
  text-decoration: none;

  }


.boton{
    background-color: white;
    border: white;
    border-radius: 20px
}

input{
    border-radius: 50px;
    border: solid;
    border-color: white;  
}

.pp{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.ppa{display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    height: 350px;
}

.imgpp{
    width: 160px; 
    height: 260px;
}

.mvp{align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.mvpa{display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: rgb(214, 99, 99);
    border-radius: 5px;
    height: 350px;
}

.imgmvp{
    width: 160px; 
    height: 260px;
}

.sp{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    }


.spa{display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: rgb(209, 91, 91);
    border-radius: 5px;
    height: 350px;
}

.imgsp{
    width: 160px; 
    height: 260px;
}

.mvs{align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.mvsa{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: rgb(187, 69, 69);
    border-radius: 5px;
    height: 350px;
}

.imgmvs{
    width: 160px; 
    height: 260px;
}

h2{
    font-size: 30px;
    text-align: center;
}

.contenedorpeli{

    margin: 40px;
    flex-direction: center;
    align-items: center;
    padding: 25px;
    background-color:  rgba(100, 100, 100, 0.521);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display:inline-flex;

}

.joker{
    height: 400px;

}

.tfavorite{
    background-color: rgba(100, 100, 100, 0.521);
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color:  rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
}

.pf{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.pfa{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: rgb(223, 53, 53);
    border-radius: 5px;
    height: 350px;
}

.imgpf{
    width: 160px; 
    height: 260px;
}


.sf{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}

.sfa{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: rgb(223, 53, 53);
    border-radius: 5px;
    height: 350px;
}

.imgsf{
    width: 160px; 
    height: 260px;
}

.lista{
    display:flex ;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-decoration: none;

}

#lista1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 450px;
    list-style: none;
    margin: 40px;
    padding: 25px;
    background-color:  rgba(255, 255, 255, 0.849);
    border-radius: 5px;
    display:inline-flex;
    color: blueviolet;
    text-decoration: none;
}



#lista2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 450px;
    list-style: none;
    margin: 40px;
    padding: 25px;
    background-color:  rgba(255, 255, 255, 0.849);
    border-radius: 5px;
    display:inline-flex;
    color: blueviolet;
    text-decoration: none;}

.gt{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}

.gta{display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: rgb(223, 53, 53);
    border-radius: 5px;
    height: 350px;
}

.imgt{
    width: 160px; 
    height: 260px; 
}

.tgenre{
    background-color: rgba(100, 100, 100, 0.521);
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color:  rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
}

.frase{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: beige;
}

.tdetail{background-color: rgba(100, 100, 100, 0.521);
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color:  rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
}

.listad{
    list-style: none;
    line-height: 1cm;
}

.subt{
    background-color: rgba(100, 100, 100, 0.521);
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color:  rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
}

.friends{
    height: 400px;
}

.dg{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.tsearch{
    background-color: rgba(100, 100, 100, 0.521);
    border-style:solid;
    border-left: none;
    border-right: none;
    border-color:  rgba(100, 100, 100, 0.521);
    align-items: center;
    justify-content:center;
    display:flex;
    color: white;
}

.terminos{
    text-decoration: none;
    color: antiquewhite;
}

footer{
    background-color: rgb(28 27 33); 
    border-bottom: solid;  
    border-top: solid;
    border-color: rgba(46, 2, 63, 0.521); 
    width: 100%;
    height: 45px;
    text-align: center ;
    border-bottom: solid;
    border-top: solid;
    border-color: rgba(100, 100, 100, 0.521);
    color: white;
}

:root {
    --facebook: #3b5998;
    --twitter: #00acee;
    --instagram: #cd486b;
    --apple: #5D5E58;
}
div.redes li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 0;
    left: 100px;
}
div.redes li a{
    display: block;
    padding: 0 10px;
    color: white;
    line-height: 30px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
    margin-left: 20px;
    
}
div.redes{
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
}
div.redes li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
}
div.redes li .facebook{
    background: var(--facebook);
}
div.redes li .twitter{
    background: var(--twitter);
}
div.redes li .instagram{
    background: var(--instagram);
}
div.redes li .apple{
    background: var(--apple);
}

.footer {
    display: flex;
    background-color: rgb(28 27 33);
    flex-direction: column;
    align-items: center;
}

@media (max-width : 768px){
    header{
        flex-direction: column;
    } 
}
@media (max-width: 420px){
    header{
        flex-direction: column;
    }
    .pp{
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        } 
    .ppa{
        margin: 25px;
    }
    .mvp{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    }
    .mvpa{
        margin: 25px;
    }
        
    .mvs{
     align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    }
    .mvsa{
        margin: 25px;
    }
    .gta{
        margin: 25px;
    }

    .sp{align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }
    
    .spa{
        margin: 25px;
    }
    footer{
    background-color: rgba(237, 209, 250, 0.671);
    border-bottom: solid;
    border-top: solid;
    border-color: rgba(46, 2, 63, 0.521);
    text-align: center;
    }
}